html,
body {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: $color-Mine-Shaft;
}

li {
    list-style: none;
}

.row { 
    width: 940px;
}

.link {
    text-decoration: underline;
    color: $color-Mine-Shaft;
}