//Primary Font Color
$color-Mine-Shaft: #333333;

$color-Scorpion: #5D5D5D;
$color-Dusty-Gray: #959595;
$color-Tundora: #4B4B4B;
$color-Black: #000000;
$color-Thunderbird: #D52B1E;
$color-Silver: #CCCCCC;
$color-Monza: #CD040B;
$color-White: #FFFFFF;
$color-Corduroy: #686C6C;
$color-Wild-Sand: #F6F6F6;
$color-Silver-2:#CACACA;
