.availability {

    margin-top: 22px;
    display: inline;

    &__home-icon {
        margin-right: 18px;
    }

    &__text {
        
    }

    &__check {
        margin-right: 25px;
    }

}//availability
