.bundling {

    background: url( '../img/Devices.png' );
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: left center;

    &__section {
        margin-top: 120px;
    }

    &__heading {
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-Black;
        width: 320px;
        margin-bottom: 18px;
        line-height: 60px;
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: $color-Mine-Shaft;
        margin-bottom: 12px;
        line-height: 20px;
    }

    &__show-now {
        font-size: 24px;
        color: $color-Thunderbird;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__icon {
        margin-left: 18px;
        margin-bottom: 180px;
    }

}