.bundling {

    background: url( '../img/Devices.png' );
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: left center;

    &__section {
        margin-top: 120px;
    }

    &__heading {
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-Black;
        width: 320px;
        margin-bottom: 18px;
        line-height: 60px;
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: $color-Mine-Shaft;
        margin-bottom: 12px;
        line-height: 20px;
    }

    &__show-now {
        font-size: 24px;
        color: $color-Thunderbird;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__icon {
        margin-left: 18px;
        margin-bottom: 180px;
    }

    @media screen and (min-width: 658px) and (max-width: 1025px) {
        background-size: 684px;
        background-position: left;
        background-position-x: -230px;
    }//tablet  

    @media screen and (min-width: 1026px) and (max-width: 1350px) {
        background-size: 684px;
        background-position: left;
        background-position-x: -130px;
    } //desktop 

}//bundling