.footer {

    font-family: Arial, Helvetica, sans-serif;

    &__top-section {
        margin-top: 90px;
        border-bottom: 1px solid $color-Silver-2;
    }

    &__top-section--call-to-action {
        color: $color-Black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        line-height: 36px;
    }

    &__top-section--phone-number {
        color: $color-Thunderbird;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    &__top-section--customer-rating {
        margin-bottom: 85px;
        font-size: 20px;
    }

    &__second-section {
        margin-top: 90px;
    }

    &__second-section--search-heading {
        color: $color-Thunderbird;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__second-section--search-field {
        width: 100%;
        line-height: 27px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: $color-Dusty-Gray;
        margin-bottom: 60px;
        background-image: url( '../img/magnifying-glass.svg' );
        background-position: right center;
        background-repeat: no-repeat;
    }

    &__second-section--search-field::placeholder {
        font-size: 14px;
        color: $color-Mine-Shaft;
        line-height: 21px;
    }    

    &__third-section {
        margin-bottom: 58px;
    }

    &__third-section--heading {
        color: $color-Black;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 24px;
    }

    &__third-section--items {
        line-height: 17px;
        font-size: 14px;
        color: $color-Mine-Shaft;
    }

    &__fourth-section {
        margin-bottom: 97px;
    }

    &__fourth-section--copyright,
    &__fourth-section--items,
    &__fourth-section--items-3  {
        color: $color-Dusty-Gray;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 14px;
    }

    &__fourth-section--items,
    &__fourth-section--items-3 {
        display: flex;
        justify-content: space-between;
    }

    &__fourth-section--items::after {
        content:' | ';
        color: $color-Dusty-Gray;
        margin-left: 16px;
    }

    &__fourth-section--items-3{
        color: $color-Dusty-Gray;
        margin-left: 16px;
    }

    &__fifth-section {
        margin-bottom: 62px;
    }

    &__sixth-section {
        margin-bottom: 120px;
    }

}//footer