.header {
    
    border-bottom: 1px solid $color-Silver;

    &__top-nav--left,
    &__top-nav--right {
        margin-top: 12px;
        margin-bottom: 62px;
        display: flex;
        justify-content: space-around;
    }

    &__top-nav--right-items,
    &__top-nav--left-items {
        line-height: 15px;
        font-size: 12px;
        color: $color-Tundora;
    }

    &__top-nav--user-icon,
    &__top-nav--shopping-cart  {
        margin-right: 6px;
        color: $color-Dusty-Gray;
    }

    &__logo {
        margin-top: -28px;
        margin-bottom: 39px;
        width: 117px;
        height: 85px;
    }

    &__second-row-nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
    }

    &__second-row-nav--items {
        font-size: 24px;
        color: $color-Black;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__second-row--call-to-action {
        font-size: 12px;
        color: $color-Mine-Shaft;
        line-height: 17px;
        margin-bottom: 1px;
    }

    &__second-row--phone-number {
        font-family: Arial, Helvetica, sans-serif;
        color: $color-Thunderbird; 
        font-size: 24px;
    }

}//header

@media screen and (max-width: 657px){
    
    .header {

        height: 60px;
        font-family: Arial, Helvetica, sans-serif;

        &__navigation-icon {
            margin-top: 0px;
            margin-right: 34px;
            margin-bottom: 23px;
            margin-left: 18px;
            width: 18px;
            height: 14px;
        }
    
        &__logo {
            width: 57px;
            height: 41px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        &__phone-number {
            color: $color-Black;
            font-size: 18px;
            line-height: 18px;
        }
    
        &__phone-icon {
            margin-top: 21px;
            margin-right: 7px;
            color: $color-Punch;
        }

    }//header

}//mobile media query