.mobile-app {
    
    padding-bottom: 90px;

    &__image {
        padding-top: 96px;
    }    

    &__heading {
        font-size: 60px;
        padding-top: 90px;
        line-height: 60px;
        margin-bottom: 68px;
        width: 460px;
    }

    &__proposal {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
        margin-bottom: 60px;
    }

    &__name {
        border-top: 2px solid $color-Black;
        padding-top: 14px;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 12px;
    }

    &__description {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 56px;
        font-family: Arial, Helvetica, sans-serif;
    }

}