.packages {
    
    margin-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid $color-Silver;
    
    &__options {
        color: $color-Black;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-White;

    }

    &__phone-number {
        color: $color-Monza;
        font-size: 18px;
        float: right;
        margin-right: -5px;
    }

    &__options:hover,
    &__options:active {
        border-bottom: 1px solid $color-Thunderbird;
        color: $color-Black;
    }

}//packages

@media screen and (max-width: 658px){ 
    
    .packages {
        
        border-bottom: none;
        border-top: 1px solid $color-Silver;
        padding-top: 22px;
        border-bottom: 1px solid $color-Silver;

    }//packages

}    
    