.shop {

    margin-top: 89px;
    border-bottom: 1px solid $color-Silver;

    &__heading {
        font-size: 60px;
        color: $color-Black;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 20px;
        color: $color-Mine-Shaft;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin-bottom: 60px;
    }

}//shop

@media screen and (max-width: 658px){ 
    
    .shop {
        
        margin-top: 36px;
        width: 350px;
        border-bottom: none;

        &__heading {
            font-size: 36px;
            color: $color-Black;
            line-height: 36px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 18px;
        }
    
        &__text {
            font-size: 18px;
            color: $color-Black;
            line-height: 22px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 18px;
        }
    
    }//shop

}    