.shop {

    margin-top: 89px;
    border-bottom: 1px solid $color-Silver;

    &__heading {
        font-size: 60px;
        color: $color-Black;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 20px;
        color: $color-Mine-Shaft;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin-bottom: 60px;
    }

}//shop